.titlo{
    font-family: "Fredoka", sans-serif;
    font-size: 3em;
    text-align: center;
    color: var(--main);
}

.container{
    padding: 1em;
}

.actionsContainer{
    text-align: center;
}

.actionsContainer button{
    margin:10px;
}

.dataContainer{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
    align-items: center;
}



.secondContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 2em;

}

.box{
    text-align: center;
    width: 300px;
    height: 400px;
    background-color: var(--secondary);
    padding: 1em;
    font-weight: bolder;
}

.profilePicture{
    width: 300px;
    border-radius: 20px;
}

.noProfilePic{
    width: 300px;
    height: 300px;
    object-fit: contain;
    fill: var(--main);
}


.data .dataLabel{
    font-weight: 700;
    color: var(--mainDarker);
    font-size: 1.2em;
    margin: 2em;
}

.data{
    font-weight: 600;
}

.bigButton{
    width: 50%;
    height: 3em;
    font-size: 2em;
    font-weight: 700;
    margin: auto;
    background-color: var(--mainLighter);
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--mainDarker);
    fill: var(--mainDarker);
}

.bigButton .icon{
    height: 2em;
    margin-right: 1em;
    

}

.bigButton:hover{
    background-color: var(--mainDarker);
    color: white;
    fill: white;
}