.container{
    display: flex;
    background-color: var(--secondary);
}

.dataContainer{
    height: fit-content;
    width: 500px;
    background-color: var(--white);
    text-align: center;
    margin: auto;
    padding: 4em;
    border-radius: 20px;
    gap: 2em;
    text-align: center;
}


.logo{
    height: 4em;
    cursor: pointer;
}

.changeType{
    text-decoration: underline;
    color: var(--main);
    cursor: pointer;
}


.form button{
    margin: 2em;
}

.titleForm{
    font-size: 2em;
    width: fit-content;
    padding: 1em;
    margin: auto;
    font-weight: 900;

    margin-bottom: 1em;
    color: var(--main);

}

.input{
    border-radius: 5px;
    width: 90%;
    display: block;
    margin: 20px;
    height: 40px;
    border: 2px solid var(--main);
    padding: 5px;
    padding-left: 20px;
    font-size: 1em;
    font-weight: 500;

}

.addImageIcon{
    width: 2em;
    fill: var(--mainDarker);
}

.dropFile{
    padding: 2em;
    display: flex;
    max-width: 100%;
    align-items: center;
    border: 2px dotted var(--mainDarker);
    justify-content: center;
    cursor: pointer;
}

