@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;900&display=swap');

html,
body,
#root,
.app{
  box-sizing: border-box;
  margin: 0;
  font-family: "Inter", sans-serif;

}

body{
  max-width: 100%;

}
:root {
  --main: #31851e;
  --mainDarker: #1b4a11;
  --mainLighter: #caf1c2;
  --secondary:#f8f4ea;
  --secondaryDarker:#ece8de;

  --red:#851e1e;
  --lightRed: #eab8b8;
  --yellow:#b58a0a;
  --lightYellow:#ffedb6;
  --blue:#0a40b5;
  --lightBlue:#b6cbff;
  --white:#fff6f6;
  --black:#393939;
  --lightGray:#ebebeb;
  --darkGray:#5b5b5b;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;

}
*{
  font-family: "Inter", sans-serif;
  transition: 0.2s ease-in-out;
}

.mainButtonGreen{
  background-color: var(--mainLighter);
  color: var(--mainDarker);
  font-weight: 800;
  padding: 1em 2em;
  border: none;
  border-radius: 34567px;
  cursor: pointer;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  /*box-shadow: 0 3px 5px 0 #0000001A;*/
}
.mainButtonGreen:hover{
  background-color: var(--main);
  color: white;
}

button:disabled{
  filter: grayscale(1);
  cursor: pointer;
}


.mainButtonRed{
  background-color: var(--lightRed);
  color: var(--red);
  font-weight: 600;
  padding: 1em 2em;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Inter", sans-serif;

}
.mainButtonRed:hover{
  color: var(--white);
}

.mainButtonYellow{
  background-color: var(--secondary);
  color: var(--yellow);
  font-weight: 600;
  padding: 1em 2em;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-family: "Inter", sans-serif;

}
.mainButtonYellow:hover{
  color: var(--white);
}


.shadow{
  box-shadow: 1px 1px 6px 1px #C9C9C9;
}

.mainTitle{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2em;
  color: var(--mainDarker);
  font-weight: 900;
  margin: 10px;

}


.tag{
  border-radius: 45678px;
  background-color: var(--lightYellow);
  padding: 10px 20px;
  font-weight: 700;
  color: var(--black);
  cursor: pointer;
}
.tag:hover{
  background-color: var(--yellow);
}