.contentContainer{
    max-width: 1000px ;
    margin: auto;
    border-radius: 30px;
    gap: 2em;
    text-align: center;
    background-color: var(--secondary);
    padding: 1em;

}
.left{
    align-items: center;
    text-align: center;
    width: 600px;

}

@media only screen and (max-width: 600px){
    .left{
        display: none;
    }
}
.right{
    width: 600px;
}
.logo{
    height: 5em;
}
.motto{
    font-size: 1.5em;
    font-family: "fredoka", sans-serif;
    color: var(--main);

}



.icon{
    height: 20em;
    margin: 2em;
}

.changeType{
    text-decoration: underline;
    color: var(--main);
}

.form{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.form button{
    margin: 2em;
}

.title{
    font-size: 2em;
    width: fit-content;
    padding: 1em;
    margin: auto;
    font-family: "Fredoka", sans-serif;
    color: var(--main);

}

.tot{
    display: block;
    text-align: right;
    font-weight: 800;
    padding-right: 100px;
    font-size: 1.5em;
    color: var(--mainDarker);
}

.noProd{
    font-size: 1.2em;
    font-weight: 600;
    padding: 5em;
}

#checkout{

margin: auto;
    font-size: 1em;
}