.titlo{
    font-size: 2em;
    color: var(--mainDarker);
    margin: 10px;
    font-weight: 900;
    text-align: left;
}

.container{
    padding: 1em;
}

.actionsContainer{
    text-align: right;
}

.actionsContainer button{
    margin:10px;
}

.dataContainer{
    max-width: 400px;
    min-width: 200px;
    height:inherit;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:flex-start;
}
.data{
    font-weight: bold;
    font-size: 1.2em;
    color: var(--main);
}


.secondContainer{

    margin: 2em;

}
.secondContainer .title{
    text-align: center;
    font-size: 2em;
    font-weight: 900;
    color: var(--main);
}
.box{
    text-align: center;
    width: 300px;
    height: 400px;
    background-color: var(--secondary);
    padding: 1em;
    font-weight: bolder;
}

.storeImg{
    height: 300px;
    text-align: center;
    margin: auto;
    display: block;
    object-fit: cover;
    border-radius: 10px;
}

.tagContainer{
    display: flex;
    justify-content: center;
    gap: 1em;
    font-size: 1em;
}

.storeRow{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: left;
    max-width: 1000px;
    margin: auto;
    margin-top: 2em;

}

.address{
    width: 100%;
    text-align: right;
    font-weight: bold;
    font-size: 1.2em;
    color: var(--black);
}





.socialIcon{
    fill: var(--main);
    height: 2em;
}

.socialIcon:hover{
    fill: var(--mainDarker);
    cursor: pointer;
}
.social{
    text-align: center;
    display: flex;
    gap: 1em;
}

.description{
    max-width: 100%;
    font-size: 1em;
    font-weight: 500;
    color: var(--black);
    text-align: center;
    margin: 2em;
}

.showMore{
    text-decoration: underline;
    cursor: pointer;
    text-align: center;
}


.firstRow{
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: space-between;
    gap: 2em;
}