.card{
    height: fit-content;
    display: flex;
    flex-wrap: wrap ;
    align-items: center;
    justify-content: space-between;
    border-radius: 20px;
    padding: 2em;
    margin: 1em;
    text-align: left;
    gap: 1em;
}
/*
.card > *{
    flex:1;
    flex-basis: 100px;
}
*/
.image{
    height: 100px;
    max-width: 200px;
    mix-blend-mode: darken;
    border-radius: 20px;
}


.name{
    font-weight: bolder;
    font-size: 1.2em;
    max-width: 200px;
}

.price{
    font-size: 1.2em;
    color: var(--mainDarker);
    font-weight: 700;
}

.info{
}

.lable{
    font-weight: 700;
}