#topnav {
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  padding: 10px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary);
}

#logo {
  height: 40px;
  margin: 5px;
  cursor: pointer;
}


.topnavIcons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1em;
}

.icons{
    color: var(--black);
    cursor: pointer;


}

.icons:hover{
    color: var(--darkGray);
}