.status{
    font-size: 1.1em;
    color: var(--main);
    font-weight: 800;
}

.container{


    padding: 1em;
    border-bottom: 2px solid var(--main);
    text-align: left;
    font-weight: 500;

}

.storeName{
    font-size: 1.2em;
}
.date{
    font-size: 0.9em;
}

.name{
    font-size: 1.2em;
    color: var(--mainDarker);
}

.info{
    font-size: 0.9em;

}

.showMore{
    text-decoration: underline;
    cursor: pointer;
    text-align: right;
    font-weight: 600;
    color: var(--black);
    width: 100%;


}


.actionList{
    width: 100%;
    display: flex;
    justify-content: right;
    gap: 20px;
}

.productList{
    width: 100%;
}

.lable{
    font-weight: 700;
    font-size: 1.1em;
    margin-right: 20px;
}

.player{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.bill
{
    text-align: right;
    margin: 1em;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dataRow{
    display: flex;
    margin: 10px;
    flex-wrap: wrap;

}
.dataRow>*{
    flex-basis: 200px;
}