.container{
    
    
   align-items: center;
    text-align: center;
    border-radius: 24px;
    max-width: 1000px;
    margin: auto;

}

.card{
    padding: 2em;
    border-radius: 20px;
    align-items: center;
    width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 1em;
}

.cardTitle{
    font-weight: bolder;
    color: var(--main);
    text-align: left;
}

.order{
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: solid rgb(178, 178, 178) 1px ;
}

.products{
    cursor: pointer;
}

.seeMore{
    color: var(--main);
    margin-top: 2em;
    display: block;

}

.noOrders{
    font-size: 1.5em;
    font-weight: 500;
    margin: 2em;
}

.selection{
    padding: 10px 20px;
    border: none;
    display: block;
    border-radius: 20px;
    
}