.card{
    min-width: 250px;
    width: 250px;
    height: 350px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--mainDarker);
    overflow: hidden;
    box-shadow: 1px 4px 6px 1px #0000001A;

 
}


.icon{
    height:150px;
    width: 100%;
    mix-blend-mode: darken;
    transition: 1s;
    object-fit: cover;
}

.noIcon{
    height:150px;
    display: block;
    margin: auto;
    mix-blend-mode: darken;
    transition: 1s;
    object-fit:scale-down;
    object-position: center;

}


.card:hover{
    box-shadow: 3px 8px 9px 3px #0000001A;
}

.name{
    font-weight: bolder;
    width: 150px;
}

.price{
    font-size: 2em;
    font-weight: 900;
    color: var(--mainDarker);
    margin: 5px;
}

.textDataContainer{
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
    box-sizing: border-box;
}

.badge{
    background-color: var(--lightYellow);
    color: var(--yellow);
    padding: 0.7em;
    width: fit-content;
    border-radius: 20px;
    font-size: 0.8em;
    text-align: right;
    
    

}