
.searchContainer {
    background-color: var(--secondary);
    border-radius: 3456789px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: fit-content;
    margin: auto;
    width:inherit;
  }
  .searchContainer:hover{
    background-color: var(--secondaryDarker);

  }
  
  .searchContainer input{
      background-color: transparent;
      border: none;
      color: var(--black);
      font-weight: bolder;
      width: inherit;
      padding: 0.1rem 1.5rem;

  
  }
  .searchContainer input:focus.searchContainer{
    background-color: var(--secondary);

  }
  .searchContainer input:focus{
      border:transparent;
      outline: none;

  }
  .searchContainer button{
      background-color: transparent;
      border: none;
      cursor: pointer;
      box-sizing: border-box;
      padding: 0.5em;
  }