
.searchContainer {
    background-color: white;
    border-radius: 3456789px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: fit-content;
    margin: auto;
    width: 500px;
    max-width: 500px;
  }
  
  .searchContainer input{
      background-color: transparent;
      border: none;
      color: var(--black);
      font-weight: bolder;
      width: 100%;
      padding: 0.1rem 1.5rem;

  
  }
  .searchContainer input:focus{
      border:transparent;
      outline: none;

  }
  .searchContainer button{
      background-color: transparent;
      border: none;
      cursor: pointer;
      box-sizing: border-box;
      padding: 0.5em;
  }