.card{
    min-width: 400px;
    height: 200px;
    border-radius: 10px;
    cursor: pointer;
    color: var(--mainDarker);
    overflow: hidden;
    display: flex;
    box-shadow: 1px 4px 6px 1px #0000001A;

}

.icon{
    height: 100%;
    width: 200px;
    mix-blend-mode: darken;
    transition: 1s;
    object-fit: cover;
}

.card:hover{
    box-shadow: 3px 8px 9px 3px #0000001A;
}

.name{
    font-size: 1em;
    font-weight: 900;
    color: var(--mainDarker);
    margin: 5px;
}


.textDataContainer{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1em;
}

.street{
    font-size: 0.9em;
    font-weight: 600;
}

.tag{
    font-size: 0.8em;
    width: fit-content;
}