.card{
    min-width: 200px;
    height: 300px;
    background-color: var(--secondary);

    border-radius: 10px;
    cursor: pointer;
    color: var(--mainDarker);
    overflow: hidden;

}

.icon{
    height: 150px;
    width: 200px;
    mix-blend-mode: darken;
    transition: 1s;
    object-fit: cover;
}

.card:hover .icon{
    transform: scale(1.05);
}

.name{
    font-size: 1em;
    font-weight: 900;
    color: var(--mainDarker);
    margin: 5px;
}


.textDataContainer{
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1em;
}

.street{
    font-size: 0.9em;
    font-weight: 600;
}