.firstRow {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: 2em;
  gap: 3em;
  max-width: 90vw;
  margin: auto;
}

.leftSection {
  width: 30vw;
  text-align: left;
}

.motto {
  font-weight: 900;
  color: var(--main);
  font-size: 3em;
  text-align: left;
  margin: auto;
}


.spiegazione {
  margin: auto;
  display: block;
  max-width: 500px;
  text-align: left;
  margin-top: 2em;
  font-weight: 600;
}

.leftSection button {
  margin: 2em;
}
.rightSection {
  text-align: center;
  width: 30vw;
}

.rightSection img {
  width: 70%;
  max-width: 500px;
}

.secondRow {
  background-color: var(--main);
  transform: translateY(-30px);
  padding: 20px;
}

.title {
  color: white;
  font-family: "Fredoka", Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  text-align: center;
}
.steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 3em;
}
.step {
  text-align: center;
  height: 10em;
  width: 10em;
  border-radius: 25% 75% 40% 60% / 56% 25% 75% 44%;
  background-color: #fff2cc;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  margin: 1em;
}
.step .num {
  color: var(--main);
  font-family: "Fredoka", Arial, Helvetica, sans-serif;
  font-size: 4em;
}
.stepImg{
  height: 80px;
}
.step .text {
  font-size: 1.5em;
  font-weight: 900;
  color: #434343;
  padding-bottom: 1em;
}

.reverseWave {
  transform: rotate(180deg) translateY(51px);
}

.secondRow button {
  display: block;
  text-align: center;
  margin: auto;
}

.proContainer{
  display: flex;
  justify-content: left;
}

.pro{
  background-color: var(--mainDarker);
  height: 50px;
  width: 50px;

  margin: 1em;
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.proText{
  font-weight: 900;
  font-family: 1.2em;
  color: white;
}
.hpBackground{
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;


}


@keyframes load {
  0% {
      transform: scale(0.2);
  }
  100% {
      transform: scale(1);
  }
}


.cta{
  text-align: center;
  margin: auto !important;
display: block;

}

.container{
  max-width: 100%;
  overflow-x: hidden;
  box-sizing:border-box;
}

.firstIcon{
  width: 400px;
}