.container {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
}

.list {
  background-color: white;
  width: 50%;
  height: 100vh;
}
.list button {
  width: 100%;
  height: 3em;
  cursor: pointer;
}
.chat {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.newMex {
  display: flex;
  justify-content: center;
  height: 10vh;
  align-items: center;
}

.newMex input {
  width: 80%;
  border: none;
  padding-left: 1em;
  font-weight: 500;
}

.newMex input:focus {
  outline: none;
}

.mexContainer {
  max-height: 90vh;
  height: 90vh;
  background-color: var(--white);
  max-width: 100%;
  padding: 4em;
  overflow-y: auto;
}

.listTitle {
  font-weight: 900;
  font-size: 1.5em;
  text-align: center;
  margin: 1em;
}


.noConversationText{
    text-align: center;
    font-weight: 800;
    color: var(--main);
    width: 100%;
    padding: 2em;
}

.sendMessageButton{
    height: 100px;
    width: 100px;
    all: unset;
    background-color: var(--main);
    fill: white;
    border-radius: 234567px;
    cursor: pointer;
    padding: 1em;
}
.sendMessageButton svg{
    height: 1.5em;
}
.sendMessageButton:hover{
    background-color: var(--mainDarker);
}