.container {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  width: 50%;
  position: fixed;
  top:0;
  right: 0;
  z-index: 89999;
  pointer-events:all;


}
@media screen and (max-width: 1000px) {
  .container {
    width: 100%;
  }
}


.list {
  background-color: white;
  height: 100vh;
  width: 100%;

}
.list button {
  width: 100%;
  height: 3em;
  cursor: pointer;
}
.chat {
  height: 100vh;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.newMex {
  display: flex;
  justify-content: center;
  height: 10vh;
  align-items: center;
  background-color: var(--mainDarker);
}

.newMexInput{
  width: 50%;
  border: none;
  font-weight: 500;
  background-color: var(--white);
  border-radius: 23456789px;
  color: var(--black);
  font-weight: bolder;
  height: 2.5em;
  padding: 0.1rem 1.5rem;


}
.newMexInput:focus{
  border:transparent;
  outline: none;

}
.newMexInput:disabled{
  all: unset;
  color: var(--mainDarker);
}
.mexContainer {
  max-height: 90vh;
  height: 90vh;
  background-color: var(--white);
  max-width: 100%;
  padding: 4em;
  overflow-y: auto;
}

.listTitle {
  font-weight: 900;
  font-size: 1.5em;
  text-align: center;
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

}


.noConversationText{
    text-align: center;
    font-weight: 800;
    color: var(--main);
    width: 100%;
    padding: 2em;
}

.sendMessageButton{
    height: 100px;
    width: 100px;
    all: unset;
    fill: white;
    border-radius: 234567px;
    cursor: pointer;
    padding: 1em;
}
.sendMessageButton svg{
    height: 1.5em;
}
.sendMessageButton:hover{
    background-color: var(--mainDarker);
}

.firstRow{
  display: flex;
  flex-wrap: wrap;
  background-color: var(--white);
  align-items: center;

}

.backButton{
all: unset;
cursor: pointer;
}

.backButtonIcon{
  width: 2em;
  fill: var(--main);
  padding: 2em;
}


.backButtonIcon:hover{
  transform: scale(1.05);
}
.backButtonList{
  all: unset;
  cursor: pointer;
  width: 100px !important;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  }
.backButtonListIcon{

 width: 1.4em;
fill: var(--main);
padding: 1em;
}


.backButtonListIcon:hover{
transform: scale(1.05);
}

.showButton{
  height: 80px;
  width: 80px;
  position: absolute;
  bottom: 0;
  left: -150px;
  bottom: +50px;
  border-radius: 2345678px;
  background-color: var(--mainDarker);
  border: 2px solid white;
  padding: 20px;
  cursor: pointer;
}

.showButton:hover .showButtonIcon{
  transform: scale(0.95);

}
.totContainer{
  overflow-x: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 90000000;
  pointer-events: none;
}

.showButtonIcon{
fill: white;  
}

.fileInput{  width: 0.1px;
height: 0.1px;
opacity: 0;
overflow: hidden;
position: absolute;
z-index: -1;

}


.fileInputLabel{
  
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    color: var(--main);
    font-size: 14px;
    margin: 1em;
    padding: 10px 12px;
    background-color: white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  
}


.fileInputLabel svg {
  height: 16px;
  margin-right: 4px;
}


.proposalForm{
  background-color: white;
  border-radius: 20px;
  padding: 2em;


}

.propClose{
  all: unset;
  cursor: pointer;
  color: var(--red);
  font-size: 2em;
}

.proposalContainer{
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128,0.3);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}


.notification{
  background-color: var(--red);
  border-radius: 3456789px;
  width: 2em;
  height: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: white;
  font-weight: 900;
  transform: translateX(20px) translateY(-20px);

}

.logo{
  height: 1.2em;
}