.container{
    padding: 4em;

}

.contentContainer{
    display: flex;
    height: fit-content;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: fit-content;
    background-color: var(--secondary);
    text-align: center;
    margin: auto;
    padding: 4em;
    border-radius: 30px;
    gap: 2em;
}
.left{
    align-items: center;
    text-align: center;
    width: 600px;

}

@media only screen and (max-width: 600px){
    .left{
        display: none;
    }
}
.right{
    width: 600px;
}
.logo{
    height: 5em;
}
.motto{
    font-size: 1.5em;
    font-family: "fredoka", sans-serif;
    color: var(--main);

}



.icon{
    height: 20em;
    margin: 2em;
}

.changeType{
    text-decoration: underline;
    color: var(--main);
}

form{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.form button{
    margin: 2em;
}

.titleForm{
    font-size: 3em;
    width: fit-content;
    padding: 1em;
    margin: auto;

    margin-bottom: 1em;
    font-family: "Fredoka", sans-serif;
    color: var(--main);
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    background-color: var(--mainLighter);

}